<aside class="sidebar">
    <h2 class="sidebar-title">Меню</h2>
    <nav class="sidebar-nav">
        <a href="index.html" class="sidebar-link">
            <img src="img/icons/home.svg" alt="" class="sidebar-icon"> Главная
        </a>
        <a href="reports.html" class="sidebar-link">
            <img src="img/icons/reports.svg" alt="" class="sidebar-icon"> Отчёты
        </a>
        <a href="equipment.html" class="sidebar-link">
            <img src="img/icons/equipment.svg" alt="" class="sidebar-icon"> Оборудование и ремонт
        </a>
        <a href="data.html" class="sidebar-link">
            <img src="img/icons/data.svg" alt="" class="sidebar-icon"> Данные и консолидация
        </a>
        <a href="finances.html" class="sidebar-link">
            <img src="img/icons/money.svg" alt="" class="sidebar-icon"> Финансы
        </a>
        <a href="kpi.html" class="sidebar-link active">
            <img src="img/icons/kpi.svg" alt="" class="sidebar-icon"> KPI
        </a>
        <a href="tasks.html" class="sidebar-link">
            <img src="img/icons/tasks.svg" alt="" class="sidebar-icon"> Задачи
        </a>
        <a href="integrations.html" class="sidebar-link" data-require-admin="true">
            <img src="img/icons/link.svg" alt="" class="sidebar-icon"> Интеграции
        </a>
    </nav>
</aside>